.body{
    font-family: 'Roboto' ;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
}

.body ul{
    list-style-type: none;
}

.header  a{
    text-decoration: none;
    color: #2E2F42;
}

.site-name{
    font-family: 'Raleway';
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    
}

.navigation{
    color: #2E2F42;
    font-weight: 500;
}

.navigation:hover,
.navigation:focus{
    color: #404BBF;
}

.contacts{
    font-weight: 400;
}

.contacts:hover,
.contacts:focus{
    color: #404BBF;
}



.web{
    color: #4D5AE5;
}


.first-section{
    background-color: #2E2F42;
    color: #FFFFFF;
    font-weight: 700;
}

h1{
    font-size: 56px;
}

.order-button{
    color: #FFFFFF;
    font-weight: 500;
    background-color: #4D5AE5;
    border: none;
}

.order-button:hover,
.order-button:focus{
    background-color: #404BBF;
}

.second-section h2{
    visibility: hidden;
}

.second-section h3{
    font-size: 20px;
}

.third-section{
    background-color: #F4F4FD;
}

.third-section h2{
    font-size: 36px;
}

.third-section h3{
    font-size: 20px;
}

.our-team{
    background-color: #FFFFFF;
}

.fourth-section h2{
    font-size: 36px;
}

.fourth-section h3{
    font-size: 20px;
}
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}

.site-name-footer{
    font-family: 'Raleway';
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}